In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
#from api_keys import g_key

In [2]:
earthquake_df = pd.read_csv("Mag_lat_lon_split.csv")
earthquake_df

      Magnitude  Longitude  Latitude Unnamed: 3
0           4.5   -24.0255   63.5326        10]
1           4.5   -24.1042   63.5254        10]
2           4.3   -23.7586   63.6420        10]
3           4.2   -17.8506   64.6639        10]
4           4.9   -17.5641   64.6591        10]
...         ...        ...       ...        ...
1154        4.5   -18.5560   67.7590        33]
1155        4.3   -18.9040   68.1660        33]
1156        6.0   -21.9540   63.9290        10]
1157        5.8   -18.5260   67.3030        15]
1158        6.9   -19.8240   66.2180        10]

[1159 rows x 4 columns]

In [3]:
mag_latlon = earthquake_df[['Magnitude', 'Latitude', 'Longitude']]
mag_latlon

      Magnitude  Latitude  Longitude
0           4.5   63.5326   -24.0255
1           4.5   63.5254   -24.1042
2           4.3   63.6420   -23.7586
3           4.2   64.6639   -17.8506
4           4.9   64.6591   -17.5641
...         ...       ...        ...
1154        4.5   67.7590   -18.5560
1155        4.3   68.1660   -18.9040
1156        6.0   63.9290   -21.9540
1157        5.8   67.3030   -18.5260
1158        6.9   66.2180   -19.8240

[1159 rows x 3 columns]

In [4]:
gmaps.configure(api_key='AIzaSyCQ_-ngO64wOTQVr3SqH6K_6DJVTB4A5N4')

In [9]:
locations = mag_latlon[["Latitude", "Longitude"]]
magnitude = mag_latlon['Magnitude']

# Plot Heatmap
magnitude_map = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=magnitude, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=.15)
# Add layer
magnitude_map.add_layer(heat_layer)
# Display figure
magnitude_map

Figure(layout=FigureLayout(height='420px'))